<div class="bg-secondary-subtle shadow p-3 mb-5 bg-body-tertiary rounded p-2">
<h1>Editing students</h1>
<%= render "form" %>
<%= link_to 'Back' ,students_path ,class:"btn btn-outline-secondary"%>
</div>
