<br/><br/>
<div class="bg-secondary-subtle shadow p-3 mb-5 bg-body-tertiary rounded p-2">

<h1>New friend</h1>

<%= render "form", friend: @friend %>

<br>

<div>
  <%= link_to "Back to friends", friends_path ,class: "btn btn-secondary"%>
</div>
</div>
